@import "tailwindcss";

@theme {
  --color-primary-50 : #EEF2FF;
  --color-primary-100 : #E0E7FF;
  --color-primary-200 : #C6D0FF;
  --color-primary-300 : #A3B2FE;
  --color-primary-400 : #7E88FB;
  --color-primary-500 : #6061F4;
  --color-primary-600 : #4F42E9;
  --color-primary-700 : #4235CD;
  --color-primary-800 : #372DA6;
  --color-primary-900 : #302C83;
  --color-primary-950 : #262161;

  --font-sans : var(--font-geist-sans), sans-serif;
  --font-caveat : var(--font-caveat), sans-serif;
  --font-krypton : var(--font-krypton), sans-serif;
}