@import "tailwindcss";

@theme {
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c6d0ff;
  --color-primary-300: #a3b2fe;
  --color-primary-400: #7e88fb;
  --color-primary-500: #6061f4;
  --color-primary-600: #4f42e9;
  --color-primary-700: #4235cd;
  --color-primary-800: #372da6;
  --color-primary-900: #302c83;
  --color-primary-950: #262161;

  --font-sans: var(--font-geist-sans), sans-serif;
  --font-caveat: var(--font-caveat), sans-serif;
  --font-krypton: var(--font-krypton), monospace;
}

@layer base {
  ::selection {
    background-color: var(--color-primary-900);
    color: var(--color-white);
  }
}

@keyframes fade-scale-blur-in {
  from {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(10px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
}

@keyframes fade-scale-blur-out {
  from {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(10px);
  }
}

::view-transition-old(page) {
  animation: fade-scale-blur-out 0.3s ease-in-out;
}

::view-transition-new(page) {
  animation: fade-scale-blur-in 0.3s ease-in-out;
}
